@model IEnumerable<Super_Hero_Pedia.Models.Heros>

<partial name="partial/_header" />

<div class="my-5">
    <div class="row py-lg-5" style="border:thick;border-color:black;">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">What is actually a SuperHero?</h1>
            <p class="lead text-muted">A superhero or superheroine is a stock character that possesses superpowers, abilities beyond those of ordinary people, and fits the role of the hero, typically using his or her powers to help the world become a better place, or dedicating themselves to protecting the public and fighting crime.</p>
            <p>
                <a target="_blank" href="https://en.wikipedia.org/wiki/Superhero" class="btn btn-primary my-2">Read More about them</a>
                <a target="_blank" href="https://en.wikipedia.org/wiki/DC_vs._Marvel" class="btn btn-secondary my-2">Read about Marvel Vs DC</a>
            </p>
        </div>
    </div>
</div>

<h2 style="text-align:center;">Some Legends Are: </h2>

<div class="container">
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var item in Model)
                {

                    List<string> name = new List<string>() { "img1.jpg", "img2.jpg", "img3.jpg", "img4.jpg", "img5.jpg" };
                    Random random = new Random();

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/images/Random/@name[random.Next(5)]" class="bd-placeholder-img card-img-top" width="100%" height="225" />

                            <div class="card-body">
                                <h2 style="font-weight:bold">Name: @item.Name </h2>
                                <h4>
                                    Universe:
                                    @{
                                        if (item.UniverseId == 1)
                                        {
                                            <text>Marvel</text>
                                        }
                                        else if (item.UniverseId == 2)
                                        {
                                            <text>DC</text>
                                        }
                                        else
                                        {
                                            <text>Anime</text>
                                        }


                                    }
                                </h4>
                                <h4>Date of Birth: @item.DateofBirth.ToShortDateString() </h4>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">


                                        <form asp-controller="Hero" asp-action="HeroDetails" asp-route-id="@item.Id">
                                            <button type="submit" name="view" value="view" class="btn btn-outline-success" style="width:100px;">View</button>
                                        </form>
                                        <form asp-controller="Hero" asp-action="HeroDetails" asp-route-id="@item.Id">
                                            <button type="submit" name="view" value="edit" class="btn btn-outline-warning" style="width:100px;">Edit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
