@{
    ViewData["Title"] = "Homec";
}
<partial name="partial/_header"/>

@*Carousel*@
<div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img style="height:450px;" src="images/carousel/img1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img style="height:450px;" src="~/images/carousel/img2.jpg" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img style="height:450px;" src="~/images/carousel/img3.jpg" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img style="height:450px;" src="~/images/carousel/img4.jpg" class="d-block w-100" alt="..." />
            </div> 
            <div class="carousel-item">
                <img style="height:450px;" src="~/images/carousel/img5.jpg" class="d-block w-100" alt="..." />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<div class="container my-5">
    <div class="row">
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" src="images/profile/img1.jpg" width="140" height="140" />

            <h2 class="fw-normal">Batman</h2>
            <p>Batman is a superhero appearing in American comic books published by DC Comics. The character was created by artist Bob Kane and writer Bill Finger. Development began after Ben Affleck was cast as Batman in the DC Extended Universe (DCEU) in 2013</p>
            <p><a class="btn btn-secondary" target="_blank" href="https://batman.fandom.com/wiki/Batman">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" src="images/profile/img2.jpg" width="140" height="140" />

            <h2 class="fw-normal">Kakarot</h2>
            <p>Goku is a fictional character and the main protagonist of the Dragon Ball manga series created by Akira Toriyama. Goku's Saiyan birth name, Kakarot, is a pun on "carrot". Goku's family, like most Saiyans, are all named after root vegetables (burdock, leek, radish, and carrot) or even the word "vegetable" itself.</p>
            <p><a class="btn btn-secondary" target="_blank" href="https://dragonball.fandom.com/wiki/Goku">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" src="images/profile/img3.jpg" width="140" height="140" />

            <h2 class="fw-normal">Kaneki</h2>
            <p>Kaneki is the main protagonist of the Tokyo Ghoul series. He is currently Touka Kirishima's husband, and the father of Ichika Kaneki. Previously, he was a student who studied Japanese literature at Kamii University, living a relatively normal life. However, this quickly changed after Rize Kamishiro's kakuhou was transplanted into him and transformed him into a one-eyed ghoul.</p>
            <p><a class="btn btn-secondary" target="_blank" href="https://tokyoghoul.fandom.com/wiki/Ken_Kaneki">View details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div>
</div>

